services:
  frontend:
    build: ./frontend
    depends_on:
      - backend
    container_name: Frontend_Container
    ports: ["3000:3000"]
    restart: always
    command: npm run dev -- --host 0.0.0.0
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    networks: ["app-network"]

  backend:
    build: ./backend
    depends_on:
      - mysql
    container_name: Backend_Container
    ports: ["7000:7000"]
    restart: always
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: 1234
      DB_NAME: test12
      JWT_SECRET: NTC&&1234
    networks: ["app-network"]

  
  phpmyadmin:
    image: phpmyadmin
    depends_on:
      - mysql
    container_name: PMA_Container
    ports: ["8080:80"]
    restart: always
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: 1234
    networks: ["app-network"]

  mysql:
    image: mysql:8.0
    container_name: mysql_Container
    ports: ["3307:3306"]
    restart: always
    volumes:
      - ./database:/docker-entrypoint-initdb.d
      - mysql_data:/lib/var/myqsl
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: test12
    networks: ["app-network"]
  
networks:
  app-network:
    driver: bridge

volumes: 
  mysql_data: